{% extends 'base.html' %} {% load static %}{% block title %}
<title>Breast Cancer</title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>All You Need To Know About Breast Cancer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mt-2 text-justify">
            <h4>A Global Burden</h4>
            <p style="text-align: justify;">According to the World Health Organization, breast cancer is the most common cancer among women worldwide, claiming the lives of hundreds of thousands of women each year and affecting countries at all levels of modernization.</p>
            <h6>Scope of the problem</h6>
            <p>In 2020, there were 2.3 million women diagnosed with breast cancer and 685 000 deaths globally. As of the end of 2020, there were 7.8 million women alive who were diagnosed with breast cancer in the past 5 years, making it the world’s most
                prevalent cancer.
            </p>

        </div>
        <div class="col-md-7 mt-5">
            <img src="{%static 'Images/breastcancer_banner.jpg' %}">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Good News About Breast Cancer Trends</h4>
            <p>In recent years, perhaps coinciding with the decline in prescriptive hormone replacement therapy after menopause, we have seen a gradual reduction in female breast cancer incidence rates among women aged 50 and older. Death rates from breast
                cancer have been declining since about 1990, in part due to better screening and early detection, increased awareness, and continually improving treatment options.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>What It is?</h4>
            <p>Breast cancer arises in the lining cells (epithelium) of the ducts (85%) or lobules (15%) in the glandular tissue of the breast. Initially, the cancerous growth is confined to the duct or lobule (“in situ”) where it generally causes no symptoms
                and has minimal potential for spread (metastasis).</p>
            <p>
                Over time, these in situ (stage 0) cancers may progress and invade the surrounding breast tissue (invasive breast cancer) then spread to the nearby lymph nodes (regional metastasis) or to other organs in the body (distant metastasis). If a woman dies
                from breast cancer, it is because of widespread metastasis.
            </p>

            <p>
                Breast cancer treatment can be highly effective, especially when the disease is identified early. Treatment of breast cancer often consists of a combination of surgical removal, radiation therapy and medication (hormonal therapy, chemotherapy and/or targeted
                biological therapy) to treat the microscopic cancer that has spread from the breast tumor through the blood. Such treatment, which can prevent cancer growth and spread, thereby saves lives.
            </p>


        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <h4>Breast Cancer Symptoms</h4>
            <p>Breast cancer may or may not cause symptoms. Some women may discover the problem themselves, while others may have the abnormality first detected on a screening exam. Common breast cancer symptoms, when they occur, include the following:
            </p>
            <ul>
                <li>Non-painful lumps or masses</li>
                <li>Lumps or swelling under the arms</li>
                <li>Nipple skin changes or discharge</li>
                <li>Noticeable flattening or indentation of the breast</li>
                <li>Change in the nipple</li>
                <li>Unusual discharge from the nipple</li>
                <li>Changes in the feel, size, or shape of the breast tissue</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img src="{%static 'Images/breastcancer_symptoms2.jpg' %}" height="330px" width="500px">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <img src="{%static 'Images/breastcancer_risk.jpg' %}" height="320px" width="700px">
        </div>
        <div class="col-md-4">
            <h4 class="mb-3 mt-3">Breast Cancer Causes and Risk Factors</h4>
            <p>While the exact causes of breast cancer may not be fully known, some risk factors have been observed to affect the development of breast cancer. These risk factors fall into two categories — non-modifiable and modifiable. Non-modifiable risk
                factors refer to conditions that are out of our control and cannot be altered; while modifiable risk factors can be changed through actions and decisions we make.</p>
        </div>
        <!-- <div class="col-md-8" style="padding-left: 60px;">
            <img src="{%static 'Images/breastcancer_risk.jpg' %}" height="320px" width="600px" class="align-item-left">
        </div> -->
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Breast Cancer Prevention</h4><br/>
            <h6>Limit Your Alcohol Intake</h6>
            <p>Next time you are contemplating a drink, choose water or a non-alcoholic drink instead. Better yet, avoid consuming alcohol altogether. If you decide to drink, make sure to do so in moderation and limit yourself to no more than one drink a
                day.
            </p>
            <h6> Exercise Regularly</h6>
            <p> If you have not been active, you do not have to jump to intense exercises and workouts right away. We can start by ditching the escalator or lift for stairs when commuting or jogging for 30 minutes each day in your neighbourhood park. Remember
                to exercise within your own limits to avoid injuring yourself.</p>
            <h6>Avoid or Quit Smoking</h6>
            <p>If you are not a smoker, do not start. If you are a smoker, take steps to quit today. Quitting smoking is not an easy process, but support is available. Learn more about the resources available here.</p>
            <h6>Maintain a Healthy Weight</h6>
            <p>As obesity is a risk factor for breast cancer, we should have a balanced food intake while keeping up with an active lifestyle to maintain a healthy weight range and minimise our breast cancer risk.</p>
            <h6> Adopt a Healthy Diet</h6>
            <p> No one food or diet can prevent breast cancer entirely, but a healthy, well-balanced diet rich in fibre, vitamins and antioxidants can reduce our risk of breast cancer and boost our overall well being. </p>

        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Breast Cancer Screening</h4><br/>
            <p>
                The benefits of early detection and treatment should not be undermined. In fact, individuals diagnosed with breast cancer at stage 1 can have a survival rate as high as 91%. Here are the common screening methods that can help to detect breast cancer as
                early as possible.
            </p>
            <h6>Self-examination</h6>
            <p>Women are strongly encouraged to perform a breast self-examination every month to detect any unusual changes and symptoms early. Learn more about how you can perform a simple breast self-examination in the comfort and privacy of your home
                here.
            </p>
            <h6>Mammogram</h6>
            <p> Mammography can detect small lumps in the breasts before we can feel it physically. The Singapore Health Promotion Board (HPB) recommends women above the age of 50 to go for mammogram screenings yearly even if they feel well.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Breast Cancer Diagnosis</h4><br/>
            <p>If you feel a lump or if something shows up on a mammogram, your doctor will begin the breast cancer diagnosis process. They’ll ask about your personal and family healthy history. Then, they’ll do a breast exam and order tests that include:</p>
            <h5>Imaging tests</h5>
            <p>
                <ul>
                    <li>
                        <h6>Mammogram</h6>
                        <p> This detailed X-ray gives doctors a better view of lumps and other problems.</p>
                    </li>
                    <li>
                        <h6>Magnetic resonance imaging (MRI)</h6>
                        <p>This body scan uses a magnet linked to a computer to create detailed images of the insides of your breasts.</p>
                    </li>
                </ul>
            </p>
            <h5>Biopsy</h5>
            <p>For this test, the doctor removes tissue or fluid from your breast. They look at it under a microscope to check for if cancer cells and, if they’re there, learn which type they are. Common procedures include:</p>
            <ul>
                <li>
                    <p>
                        <h6>Fine-needle aspiration</h6>
                        <p>This is for easy-to-reach lumps or those that might be filled with fluid.</p>
                    </p>
                </li>
                <li>
                    <p>
                        <h6>Core-needle biopsy</h6>
                        <p>A surgeon removes the entire lump along with nearby breast tissue.This type uses a bigger needle to remove a piece of tissue.</p>
                    </p>
                </li>
                <li>
                    <h6>Surgical (open) biopsy. </h6><span>A surgeon removes the entire lump along with nearby breast tissue.</span>
                </li>
            </ul>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Breast Cancer Treatment</h4><br/>
            <p>
                Treatment types for breast cancer can be classified into two groups: local and systemic therapy.
            </p>
            <h6>Local therapy</h6>
            <p> It includes surgery and radiotherapy, and treats cancer at the site without affecting the rest of the body. Meanwhile, systemic therapy, which includes chemotherapy, hormone therapy and targeted therapy, involves the administration of drugs
                into the bloodstream to kill cancer cells throughout the body.</p>
            <h6>Surgery</h6>
            <p> There are two main types of surgery for breast cancer. In a lumpectomy, (also known as Breast-Conserving Surgery (BCS)), the tumour is removed while most of the breast remains. However, in a mastectomy, the whole breast is removed along with
                the tumour.
            </p>
            <p>Depending on a variety of factors including the size and location of the tumour, breast size and personal preference, a lumpectomy or a mastectomy may be performed. </p>
            <h6>Radiation Therapy</h6>
            <p>Radiation therapy uses high-energy rays to kill or limit the growth of cancer cells and is often performed before and/or after surgery, to reduce the size of the tumour and to prevent recurrence respectively.</p>
            <p>Side effects may include redness and dryness of the skin, swelling, and an increase or decrease in sensitivity. However, these effects tend to be manageable and are temporary.</p>
            <h6>Hormonal Therapy</h6>
            <p>Hormonal therapy is a treatment method that alters or stops estrogen secretion and is often used in conjunction with other measures. It can also be used as a preventive measure for women at high risk of breast cancer.</p>
            <h6>Chemotherapy</h6>
            <p>By introducing drugs into the bloodstream, chemotherapy helps to eliminate cancer cells throughout the body. However, the disadvantage is that many healthy cells die alongside the cancer cells.</p>
            <h6>Targeted Therapy</h6>
            <p>Similar to chemotherapy, targeted therapy involves the use of drugs to kill cancer cells. However, these drugs target specific genes, proteins, or tissue environments that contribute to cancer growth and survival, leaving healthy cells largely
                unaffected.
            </p>
        </div>
    </div>
    <hr>

</div>
</div>


<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}