{% extends 'base.html' %} {% load static %}{% block title %}
<title>Cervical Cancer</title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>All You Need To Know About Cervical Cancer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6>What is Cervical Cancer?</h6>
            <p>Cancer is a condition in which the cells in the body multiply uncontrollably, producing tumours that can spread from its originating organ to nearby or distant structures. Even if cancer spreads, we still name it based on the organ where the tumour first appeared.</p>
            <p>Hence, cervical cancer starts in the cervix, the structure that connects the vagina (birth canal) to the uterus (womb). All women may develop cervical cancer, but some are more at risk than others depending on several factors like their genetics and whether or not they have been vaccinated and practised safe sex.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>What are the Symptoms of Cervical Cancer?</h6>
            <p>Reports say that the most common signs and symptoms of cervical cancer are as follows:</p>
            <ul>
                <li>Unusual bleeding: bleeding in between menstruation, after sex, or after menopause.</li>
                <li>Prolonged or heavier than usual menstrual periods.</li>
                <li>Bleeding after a vaginal exam.</li>
                <li>Pain during intercourse.</li>
                <li>Persistent and unexplained lower back pain.</li>
            </ul>
            <p>During dysplasia or the development of cancer cells (also referred to as pre-cancer), women typically do not experience any symptoms. There may be some early-stage cancer indicators and more severe signs in the late or metastatic stages. For instance, a woman may develop watery or heavy vaginal discharge with a foul odour during the advanced stages of cervical cancer.</p>
            <p>However, please keep in mind that the symptoms we listed above could also point to other reproductive health concerns. For this reason, making an appointment with the doctor is crucial.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>What Causes Cervical Cancer?</h6>
            <p>In general, cancer occurs when normal cells develop mutations in their deoxyribonucleic acid or DNA – the long strands of chemicals that contain instructions on how we grow and develop. DNA strands have small sections or segments called genes; they function to either code proteins or determine our traits. For example, we have genes that determine our eye colour, hair growth, height, and complexion.</p>
            <p>All Cancers Start with Gene Mutations- Interestingly, we also have “proto-oncogenes” and “tumour suppressor” genes. Proto-oncogenes are genes that help our cells grow, while tumour suppressor genes stop unnecessary cell growth. The American Cancer Society compared the cell into a car and the proto-oncogene to a gas pedal, which controls how fast the car is going. In contrast, they explained that the tumour suppressor gene acts like a brake pedal, the one that stops the car when it is going too fast.</p>
            <p>All cancers start with a mutation in these genes. Mutation is the term we use to describe that the genes have sustained changes that turned them into bad copies of the original, normal genes.  Case in point, a mutated proto-oncogene can become permanently turned on (oncogene), resulting in uncontrollable cell growth. There is also a chance that the tumour suppressor gene becomes deactivated, removing the body’s mechanism to stop excessive cell growth.</p>
            <p>It is not easy to pinpoint the specific triggers of mutation in cancer: it may be a mixture of heredity and lifestyle factors. In the case of cervical cancer, the US Center for Disease Control (CDC) stated that long-lasting infection with specific types of human papillomavirus is the main cause of cancer of the cervix.  Although, Please keep in mind that not all women who contract HPV infections will develop cervical cancer. An HPV infection is transient for most people: our body will get rid of it the way we get rid of the flu virus.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Cervical Cancer Risk Factors</h6>
            <p>There are definitely certain factors that increase a woman’s risk of developing cervical cancer. These risk factors include:</p>
            <ul>
                <li>Cigarette smoking</li>
                <li>Having sexual intercourse at a young age</li>
                <li>A previous HPV infection</li>
                <li>Having multiple sexual partners</li>
                <li>A history of sexually-transmitted infection like gonorrhoea or chlamydia</li>
                <li>Weakened immunity</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>How to Prevent Cervical Cancer</h6>
            <p>The good news about cervical cancer is that more than 90% of its cases are vaccine-preventable. Furthermore, the earlier the diagnosis happens, the better the treatment outcomes will be.</p>
            <p>One way to significantly reduce the risk of developing cervical cancer is through HPV vaccination. HPV vaccines protect women from certain types of human papillomaviruses that may trigger cervical cancer. In Singapore, there are three approved HPV vaccines available: Cervarix, Gardasil, and Gardasil 9, with Gardasil 9 offering protection from 7 types of HPVs.</p>
            <ul>
                <li>The vaccine is most effective before a woman gets exposed to the HPV virus, which is usually transmitted through sexual activity.</li>
                <li>The brands mentioned are proven safe and effective; they will not cause an HPV infection.</li>
                <li>As with all other vaccines, the HPV vaccine cannot offer 100% protection; it is also not a substitute for cervical cancer screening.</li>
                <li>The dose one receives may vary. Case in point, if a child gets the first dose at or before the age of 14, she may only require 2 doses. On the other hand, a girl who gets the first dose at or after 15 may need 3 doses.</li>
                <li>HPV vaccination is also a part of the school-based vaccination program. </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Screening for Cervical Cancer</h6>
            <p>Females aged 9 to 26 years old are encouraged to receive their HPV vaccine shots, but they should still go for routine cervical cancer screening. Cancer Society recommends HPV testing and Pap test.</p>
            <p><b>HPV Testing</b></p>
            <p>This test checks for the presence of HPVs in women. Remember that vaccines only offer protection from specific strains of the virus; hence an infection could still happen even after getting vaccinated. HPV testing is recommended once every 5 years in women aged 30 and above who have already had sexual intercourse. Women often schedule the test 14 days after the first day of their menstrual period.</p>
            <p><b>Pap Smear</b></p>
            <p>This test checks for abnormal cells that may potentially become cancerous. In other words, it helps to detect cervical cancer early, paving the way for immediate intervention. Like HPV testing, it is scheduled 14 days after the first day of menstruation. However, women need to have a pap smear test done once every 3 years. (Note: Please take note that the frequency by which you need to undergo the test varies depending on the previous results. Should you get abnormal results, the doctor may recommend repeat or more frequent procedures.)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Cervical Cancer Treatment</h6>
            <p>In the event that someone is diagnosed with cervical cancer, the treatment will depend on the stage of cervical cancer. When detected at the precancerous stage, there are two primary treatment strategies:</p>
            <ul>
                <li><b>Ablation Techniques: </b>This involves destroying the abnormal cells through heating or freezing.</li>
                <li><b>Excision Techniques: </b>This involves cutting and removing the abnormal cells. </li>
                <li>Another option is the <b>Loop Electro-Excision Procedure (LEEP),</b> which uses high-energy wire to remove diseased portions of the cervix, leaving behind only the healthy tissues. </li>
            </ul>
            <p>For cervical cancer Stages I through IV, treatment becomes more complicated. Strategies depend on the number and size of the tumour and its spread to nearby nodes and other parts of the body.To put things into perspective, the doctor may decide to treat a small tumour (usually Stage I) with surgery that removes the tumour and the nearby tissues. Cervical cancer that has spread beyond the cervix may require a combination of radiotherapy, chemotherapy, and removal of the cervix or uterus.</p>
        </div>
    </div>
    <hr>
    

</div>
<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
