{% extends 'base.html' %} {% load static %}{% block title %}
<title>Coping with cancer</title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>Coping With Cancer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Learning that you have cancer is a difficult experience. After your cancer diagnosis, you may feel anxious, afraid or overwhelmed and wonder how you can cope during the days ahead. Here are few suggestions for coping with a cancer diagnosis.</p>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Get the facts about your cancer diagnosis</h6>
            <p>Try to obtain as much basic, useful information about your cancer diagnosis as you need in order to make decisions about your care. Write down your questions and concerns beforehand and bring them with you. You might also want to consider
                how much you want to know about your cancer. Some people want all the facts and details, so they can be very involved in the decision-making process. Others prefer to learn the basics and leave details and decisions to their doctors. Think
                about which approach works best for you. Let your health care team know what you'd prefer.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Keep the lines of communication open</h6>
            <p>Maintain honest, two-way communication with your loved ones, doctors and others after your cancer diagnosis. You may feel particularly isolated if people try to protect you from bad news or if you try to put up a strong front. If you and others
                express emotions honestly, you can all gain strength from each other.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Maintain a healthy lifestyle</h6>
            <p>This can improve your energy level. Choose a healthy diet consisting of a variety of foods and get adequate rest in order to help you manage the stress and fatigue of the cancer and its treatment.</p>
            <p>Exercise and participating in enjoyable activities also may help. Recent data suggest that people who maintain some physical exercise during treatment not only cope better but also may live longer.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Anticipate possible physical changes</h6>
            <p>Now — after your cancer diagnosis and before you begin treatment — is the best time to plan for changes. Prepare yourself now so that you'll be better able to cope later. Members of cancer support groups may be particularly helpful in this
                area and can provide tips that have helped them and others.</p>
            <p>Ask your doctor what changes you should anticipate. If drugs will cause hair loss, advice from image experts about clothing, makeup, wigs and hairpieces may help you feel more comfortable and attractive. Insurance often helps pay for wigs,
                prostheses and other adaptive devices.</p>
            <p>Also consider how treatment will impact your daily activities. Ask your doctor whether you can expect to continue your normal routine. You may need to spend time in the hospital or have frequent medical appointments. If your treatment will
                require a leave of absence from your normal duties, make arrangements for this.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Let friends and family help you</h6>
            <p>Often friends and family can run errands, provide transportation, prepare meals and help you with household chores. Learn to accept their help. Accepting help gives those who care about you a sense of making a contribution at a difficult time.</p>
            <p>Also encourage your family to accept help if it's needed. A cancer diagnosis affects the entire family and adds stress, especially to the primary caregivers. Accepting help with meals or chores from neighbors or friends can go a long way in
                preventing caregiver burnout.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Review your goals and priorities</h6>
            <p>Determine what's really important in your life. Find time for the activities that are most important to you and give you the most meaning.</p>
            <p>If needed, try to find a new openness with loved ones. Share your thoughts and feelings with them. Cancer affects all of your relationships. Communication can help reduce the anxiety and fear that cancer can cause.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Try to maintain your normal lifestyle</h6>
            <p>Maintain your normal lifestyle, but be open to modifying it as necessary. Take one day at a time. It's easy to overlook this simple strategy during stressful times. When the future is uncertain, organizing and planning may suddenly seem overwhelming.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Talk to other people with cancer</h6>
            <p>Sometimes it will feel as if people who haven't experienced a cancer diagnosis can't fully understand how you're feeling. It may help to talk to people who have been in your situation. Other cancer survivors can share their experiences and
                give you insight into what you can expect during treatment.</p>
            <p>You may have a friend or family member who has had cancer. Or you can connect with other cancer survivors through support groups. Ask your doctor about support groups in your area or contact your local chapter of the American Cancer Society.
                Online message boards also bring cancer survivors together. Start with the American Cancer Society's Cancer Survivors Network.</p>
        </div>
    </div>
    <hr>
    <!-- <div class="row">
        <div class="col-md-12">
            <h6></h6>
            <p></p>
        </div>
    </div>
    <hr> -->

</div>
<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}