{% extends 'base.html' %} {% load static %}{% block title %}
<title> Lower Cancer Risk </title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>Lower Your Risk of Cancer</h2>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Drop The Weight</h6>
            <p>Nearly 70% of Americans are overweight or obese -- and those extra pounds drive up your chances of several types of cancer, including in your esophagus, pancreas, colon, kidneys, and thyroid gland. With fewer people smoking, obesity may pass
                tobacco as the top preventable cause of cancer. If every adult in the U.S. cut their body mass index (a measure of your body fat) by 1%, it might cut the number of new cases by as many as 100,000.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Eat Less Red Meat</h6>
            <p>Along with cured meats like bacon, hot dogs, and lunchmeat, this has been linked to a higher risk of colon and stomach cancers. The American Institute for Cancer Research recommends no more than 18 ounces of these a week, or a little over
                a pound. </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Wear Sunscreen</h6>
            <p>Harmful rays from the sun can give you more than a sunburn. Ultraviolet radiation can cause skin cancer, the most common kind of cancer in the U.S. And people who spend a lot of time in the sun have a higher risk. Most cases are curable if
                they’re found and treated early, but they can be life-threatening if they spread to other parts of your body. Sunscreen with a sun protection factor (SPF) of 30 or higher can help protect you.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Eat More Vegetables</h6>
            <p>Vegetables and fruits can help stave off a range of cancers in your mouth, throat, windpipe, and esophagus. These foods have things that help your cells prevent damage that may lead to cancer later. You should get at least 2 1/2 cups of fruits
                and vegetables a day.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Don’t Count on Supplements</h6>
            <p>A diet rich in vegetables, fruits, and whole grains is a better bet than nutritional supplements to lower your risk of cancer. Supplements don’t give you the same benefits as whole foods, and they can throw off the balance of other nutrients
                in your body. Supplements may help with certain conditions, but don’t bet on them to prevent cancer.</p>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Cut Down on Sugar</h6>
            <p>Foods or drinks with a lot of sugar tend to have more calories per ounce. If you have them often, you’re more likely to take in more calories than you burn in a day. That can make you gain weight -- and possibly increase your risk of cancer.
                You don’t have to skip the sugar entirely, but keep an eye out for things with added sweeteners.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Cut Down Smoking</h6>
            <p>Do you smoke? It causes various kinds of cancer, as well as heart and lung disease. Though the share of Americans who light up regularly has dropped from more than 40% in the 1960s to about 15%, tobacco is still the No. 1 cause of preventable
                death in the U.S.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Limit Your Alcohol Intake</h6>
            <p>You know which one we mean. Drinking too much alcohol can raise your risk of cancers of the digestive system -- your stomach, liver, and colon, among others -- as well as breast and throat cancer. It can hurt tissues in your body, damage your
                liver, and mix with other chemicals to harm your cells. Men shouldn’t have more than two drinks a day, and women should limit it to one. </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Get a Hepatitis B Shot</h6>
            <p>People who have the hepatitis B virus are 100 times more likely to get liver cancer, one of the fastest-growing kinds. And those who have chronic liver problems, several sex partners, or share needles to use drugs have a high risk of getting
                hepatitis B, along with people who work with human blood. But a vaccine can prevent infection. Talk with your doctor about it if you think you’re at risk.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Get Vaccinated for HPV</h6>
            <p>Human papilloma virus (HPV) is often passed from person to person through sex. It can live in your body for years and you might not even notice. It’s the cause of nearly all cervical cancers in women and also can cause cancer of the vagina,
                penis, anus, mouth, and throat. Girls can get the vaccine between the ages of 9 and 26, and boys from 9 to 21. Using condoms can also lower your chances of getting HPV.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Regular Workout</h6>
            <p>People who exercise are less likely to get cancer of the colon, breast, or uterus. When you’re up and moving around, your body uses more energy, digests food faster, and prevents a buildup of some hormones that are linked to cancer. Being
                active also can help head off other health problems like heart disease or diabetes. </p>
        </div>
    </div>
    <hr>

    <!-- <div class="row">
        <div class="col-md-7">
            <img src="{%static 'Images/breastcancer_risk.jpg' %}" height="320px" width="700px">
        </div>
        <div class="col-md-4">
            <h4 class="mb-3 mt-3">Breast Cancer Causes and Risk Factors</h4>
            <p>While the exact causes of breast cancer may not be fully known, some risk factors have been observed to affect the development of breast cancer. These risk factors fall into two categories — non-modifiable and modifiable. Non-modifiable risk
                factors refer to conditions that are out of our control and cannot be altered; while modifiable risk factors can be changed through actions and decisions we make.</p>
        </div>
    </div> -->

</div>
</div>


<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}