{% extends 'base.html' %} {% load static %}{% block title %}
<title>Lung Cancer</title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>Lung Cancer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Lung cancer is the result of changes that take place in the cells of the lungs that cause them to grow and spread in an uncontrolled way. There are a multitude of reasons this might happen. The most common is exposure to tobacco smoke—either
                directly or indirectly (second-hand) which is the number one cause of lung cancer in the United States. The second is radon, which is the most common cause among non-smokers. Other causes of lung cancer include exposure to radiation, air
                pollution, lung diseases (e.g., asthma, COPD, and tuberculosis), some dietary supplements, and genetics.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Lung Cancer Symptoms</h4>
            <p>The symptoms of lung cancer typically do not appear until the condition is in its advanced stage. Symptoms may be confined to respiratory issues or involve other parts of the body, especially when the cancer has already spread. Common lung
                cancer symptoms include:</p>
            <ul>
                <li>Coughing that worsens and doesn’t go away; it may last for weeks or months.</li>
                <li>Chest pain; the ache sometimes worsens with breathing or coughing.</li>
                <li>Chest infections that come back even after treatment.</li>
                <li>Shortness of breath or persistent breathlessness.</li>
                <li> Coughing up blood.</li>
                <li> Weight loss.</li>
                <li> Loss of appetite.</li>
                <li> A general feeling of weakness or tiredness.</li>
            </ul>
            <p>Although rare, the symptoms of lung cancer may also include:</p>
            <ul>
                <li>Wheezing; you may notice a high-pitch whistling sound when you breathe.</li>
                <li>Hoarseness.</li>
                <li>Pain during swallowing (dysphagia).</li>
                <li>Persistent chest or shoulder pain.</li>
                <li>Swelling in the neck or face.</li>
            </ul>
            <p>Do keep in mind that these signs may also point to other conditions. Case in point, long-term cough, loss of appetite, weight loss, and coughing up blood are also common symptoms of tuberculosis. To have the correct diagnosis, it is crucial
                to consult a doctor as soon as possible. Once in the doctor’s clinic, expect to answer questions about your health history and undergo several tests like chest x-ray, sputum exams, bronchoscopy, and other imaging tests.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Lung Cancer Causes & Risk Factors</h4>
            <p>According to the American Lung Association, smoking is the number one cause of lung cancer. In fact, it accounts for 90% of all lung cancer cases. The more years you spend smoking (or getting exposed to second-hand smoke), the higher your
                lung cancer risk is. Quitting tobacco smoking reduces your risk, but doesn’t eliminate the possibility.</p>
            <p>Experts explain that cigarettes contain numerous chemicals that, when inhaled, cause an almost instantaneous change or damage to the lung tissues. Initially, the body may be able to repair the damage. However, with repeated exposure, the extensive
                damage may trigger our cells to act differently and multiply uncontrollably, eventually leading to cancer. Besides cigarette smoking, the factors below also increase one’s risk of developing lung cancer:</p>
            <ul>
                <li>Exposure to hazardous chemicals and other carcinogens, such as radon, asbestos, arsenic, and uranium.</li>
                <li>Exposure to particle pollution. Particle pollution refers to the presence of tiny solid or liquid particles in the air we breathe. Examples of these tiny particles are those that come from exhaust smoke.</li>
                <li>Previous radiation therapy on the chest.</li>
                <li>Genes — having a family history of lung cancer puts you at a higher risk of lung cancer.</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Types of Lung Cancer</h4>
            <p>According to the American Cancer Society, we can divide lung cancer into two primary types: non-small cell lung cancer (NSCLC) and small cell lung cancer (SCLC).</p>
            <h6>Non-Small Cell Lung Cancer</h6>
            <p>The majority of lung cancer cases (80 to 85%) are classified under non-small cell lung cancer or NSCLC. It has several subtypes, including:</p>
            <ul>
                <li><h6>Adenocarcinomas:</h6> This subtype typically starts in the cells that produce mucus. Many cases of adenocarcinomas get diagnosed in the outer part of the lungs, usually before they spread. It is a common type of lung cancer in both smokers
                    and non-smokers but occurs more frequently in women than in men.</li>
                <li><h6>Squamous cell carcinoma:</h6> Unlike adenocarcinomas that typically start in the outer part of the lungs, squamous cell carcinomas typically begin at the center, near the main airway (bronchus). And it’s not surprising; after all, SCC
                    affects the flat cells that line the airways in the lungs. SCC is highly linked to those who have a history of smoking.</li>
                <li><h6>Large cell carcinoma:</h6> This subtype of NSCLC can appear in any part of the lungs. Usually, LCC grows and spreads quickly, which means that it might be more difficult to treat than the other subtypes of NSCLC.</li>
            </ul>
            <p>Among all the subtypes of non-small cell lung cancer, the one with the better outlook is adenocarcinoma in situ, or an adenocarcinoma that hasn’t spread yet.</p>
            <h6>Small Cell Lung Cancer</h6>
            <p>Also called oat cell cancer, small cell lung cancer or SCLC accounts for 10 to 15% of all lung cancer cases. SCLC tends to grow and spread quickly; in fact, 70% of patients with small-cell lung cancer have cancer that already spread by the
                time they receive their diagnosis.
                <br/>Besides the two primary types of lung cancer, we also have the following type of lung cancer tumours-
            </p>
            <ul>
                <li><h6>Lung carcinoid tumours: </h6> This type of tumour is rare, usually accounting for only 5% of lung tumour cases. Reports say lung carcinoid tumours are made up of cells that produce hormones or hormone-like substances (neuroendocrine
                    cells).
                </li>
                <li><h6>Other lung tumours: </h6>Besides lung carcinoid tumours, other kinds of tumours may occur in the lungs, including lymphoma (cancer in the lymphocytes), sarcoma (cancer in the bones, muscles, etc.), and benign tumours.</li>
                <li><h6>Cancers that spread to the lungs (Metastatic Tumours): </h6> Some tumours in the lungs are a result of cancer that has metastasised or spread to the lungs from another body part.</li>
            </ul>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Lung Cancer Treatment</h4>
            <p>The treatment strategies depend on several factors, including the lung cancer symptoms, type, stage, and of course, the individual’s health and tolerance to certain procedures and medications.</p>
            <p>The three primary methods of lung cancer treatment are surgery, radiation therapy, and chemotherapy. But of course, there are other options, like targeted therapies and immunotherapy.</p>
            <h6>Treatment For Non-Small Cell Lung Cancer</h6>
            <ul>
                <li><h6>Stages 1 and 2:</h6> If the patient is well enough, the doctor may advise surgery. To reduce the risk of recurrence, they might also recommend radiotherapy or chemotherapy after the operation.</li>
                <li><h6>Stage 3:</h6> The physician may order radiotherapy with or without chemotherapy. After radiation, the patient might also undergo immunotherapy, where he or she receives medications that stimulate the immune system to kill the cancer
                    cells.
                </li>
                <li><h6>Stage 4:</h6>For stage 4 lung cancer, a huge part of treatment focuses on palliative care or in making sure that the patient is comfortable and not in pain. In this stage, the doctor may recommend a combination of chemotherapy, radiation,
                    immunotherapy, and targeted therapy which involve medicines that slow down cancer spread.</li>
            </ul>
            <h6>Treatment For Small Cell Lung Cancer</h6>
            <p>If the individual is diagnosed with small cell lung cancer, the doctor may immediately recommend chemotherapy. This is because SCLC typically spreads quickly.</p>
            <p>Should the physician note that the cancer is still localised, he or she may recommend a combination of radiotherapy and chemotherapy.</p>
            <p>If SCLC is in the extensive stage, the patient may need a combination of chemotherapy and immunotherapy.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Lung Cancer Survival Rate</h4>
            <p>The lung cancer survival rate varies from person to person. But, over the years, experts have gathered enough data to identify the percentage of patients who survived a particular type and stage of lung cancer at a given time.</p>
            <ul>
                <li>The 5-year survival rate for lung cancer is 18.6%; this is lower than the survival rate for colorectal cancer (64.5%) prostate cancer (98.2%), and breast cancer (89.6%).</li>
                <li>When detected at an early, localised stage, the survival rate of lung cancer is 56%. However, only 16% of lung cancer cases are diagnosed early. Stage 4 lung cancer that has spread to other organs only has a 5-year survival rate of 5%.</li>
                <li>More than half of patients diagnosed with lung cancer die within a year of receiving their diagnosis.</li>

            </ul>
            <p>Please note that the statistics above are merely based on observations and studies, and should not be used to predict whether a person will survive lung cancer or not.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Lung Cancer Prevention</h4>
            <p>As with any other type of cancer, there is no one sure way to prevent lung cancer. However, you can practise the following measures to reduce your risk:</p>
            <ul>
                <li><h6>Stop or avoid smoking.</h6> Since 90% of lung cancer cases happen due to smoking, it is a good idea to avoid cigarettes as much as possible. Reducing your exposure to second-hand smoke also helps.</li>
                <li><h6>Avoid or limit exposure to harmful chemicals and carcinogens.</h6> If your work involves exposure to carcinogenic substances, be strict in following safety protocols like wearing the right protective equipment. </li>
                <li><h6>Have a healthy diet and regular exercise. </h6> No food can prevent cancer, but some might be able to reduce your risk. Good nutrition keeps your body strong and healthy. Similarly, exercise helps to strengthen your immune system.</li>
            </ul>
        </div>
    </div>
    <hr>

</div>
<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}