{% extends 'base.html' %} {% load static %}{% block title %}
<title>Prostate Cancer</title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>Prostate Cancer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Cancers can form at any part of the body. Mutations in the abnormal cells will continue to multiply uncontrollably and more rapidly than normal cells do, depriving healthy cells of the oxygen and nutrients they need. Eventually, the abnormal cells will survive while other healthy cells die. If this spread is not controlled and prevented, the cancer cells may eventually travel to other parts of the body like the bones or other organs and start to grow there as well. </p>
            <p>Prostate cancer begins when abnormal cells start to develop in the prostate gland. The prostate gland is a walnut-sized organ beneath the urinary bladder that is responsible for producing semen and helps regulate urine flow. While prostate cancer is a relatively slow-growing disease, prevention and detection are still crucial to intercept the spread. </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">Causes and Risk Factors of Prostate Cancer</h4>
            <p>Unfortunately, prostate cancer cannot be entirely prevented. When a patient is diagnosed with this condition, they will be advised on the suitable treatment options, as well as how they can alter their lifestyle choices to benefit their overall health such as consuming more fruits and vegetables, exercising regularly and avoiding high-fat diets. While the causes of prostate cancer is not entirely clear, a combination of factors may play a role in its development such as: </p>
            <ul>
                <li>Age</li>
                <li>Family history and genetics</li>
                <li>Ethnicity</li>
                <li>Hormones</li>
                <li>Diet</li>
                <li>Obesity</li>
                <li>Environment</li>
                <li>Lifestyle</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">Signs and Symptoms of Prostate Cancer</h4>
            <h6>Urinary Problems</h6>
            <p>Having difficulty urinating is one of the most common symptoms and early signs of prostate cancer as the gland is located underneath the bladder, surrounding the urethra. Urinary problems typically include a frequent need to urinate, weak or interrupted urine flow, bleeding while urinating, blood in the seminal fluid, or a pain or burning sensation while urinating. However, having urinary symptoms do not automatically equate to having prostate cancer. Other diseases such as prostatitis and Benign Prostatic Hypertrophy (BPH) can cause similar symptoms as well. </p>
            <h6>Pain and Numbness</h6>
            <p>As prostate cancer develops, it may spread to the bones surrounding the area as well. You may begin to experience pain in your back, chest, and pelvis. In the event that cancer spreads to your spinal cord, you may lose feeling in your bladder and legs, causing numbness in the lower body. </p>
            <h6>Sexual Problems</h6>
            <p>Erectile dysfunction is considered to be another symptom of prostate cancer. This refers to one’s inability to get or keep an erection and even reduced sexual desire. Having trouble occasionally shouldn’t be cause for concern. However, if this becomes an ongoing issue, it is advisable to consult your doctor. This condition is also known to be linked with circulation and blood pressure, which may be related to health issues such as high blood pressure.  </p>
            <p>Other symptoms of prostate cancer include loss of appetite as well as weight loss. If you begin to experience any of these symptoms, please consult a doctor immediately.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">How can prostate cancer be detected?</h4>
            <p>There are several ways in which cancer can be detected in the prostate gland. Some of these methods include a Digital Rectal Exam (DRE), a Prostate Specific Antigen (PSA), a prostate biopsy, as well as analysing your family history.</p>
            <h6>Digital Rectal Exam (DRE)</h6>
            <p>In this process, the doctor will feel the texture of the prostate gland with a finger gently placed in the back passage or rectum. The purpose of this examination is to check the lower rectum, pelvis and lower belly for cancer and other health problems. While this method is used to detect abnormal nodules that may form on the prostate, DREs can also be performed on women to spot any irregularities in the reproductive organs or the bowel. </p>
            <h6>Prostate Specific Antigen (PSA) Test</h6>
            <p>Prostate Specific Antigen tests, or PSA tests, involve taking a blood sample from a vein and testing for PSA, a protein produced by the prostate gland responsible for keeping semen in liquid form. The test will then determine the PSA levels and which category they fall under. Higher than normal PSA levels could be a possible sign of prostate cancer. </p>
            <h6>Prostate Biopsy</h6>
            <p>Like any biopsy, an ultrasound-guided biopsy can be performed to detect the presence of cancer in the prostate by taking thin sections of tissue from the prostate gland. Depending on the samples required, this procedure can be done under either local or general anaesthesia. </p>
            <h6>Family History</h6>
            <p>Knowing your family’s history and genetics can also be crucial in the development of prostate cancer. If you have family members with a history of prostate cancer, you will also have a higher risk of developing prostate cancer than those without.</p>
            <p>Additional tests that can be conducted to detect prostate cancer include lymph node biopsy, ultrasound, bone scan, computerised tomography (CT) scan, and a magnetic resonance imaging (MRI).</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">Common Types of Prostate Cancer</h4>
            <h6>Adenocarcinoma</h6>
            <p>Adenocarcinomas, the most common type of prostate cancer found in men around the world, refers to cancer that develops in the gland cells that line the prostate gland. </p>
            <h6>Sarcomas</h6>
            <p>Unlike adenocarcinomas that develop from cells lining the prostate, sarcomas develop from smooth muscle cells inside the prostate called mesenchymal cells. This form of prostate cancer is commonly found in younger men between ages 35 and 60, and have also been found in children in extremely rare cases. </p>
            <h6>Neuroendocrine Tumours (NETs)</h6>
            <p>Also known as carcinoids amongst medical professionals, Neuroendocrine Tumors (NETs) are an aggressive variant of prostate cancer that may arise in the later stages. These tumours can be found in the neuroendocrine system, which comprises the nerve and gland cells responsible for making and releasing hormones into the bloodstream. Apart from being extremely rare, it has been discovered that NETs do not affect one’s PSA levels and are completely hereditary. </p>
            <h6>Small Cell Carcinoma</h6>
            <p>Similar to NETs, small cell carcinoma is another type of neuroendocrine cancer that is a rare malignancy that only accounts for less than 1% of all prostate cancers. Small cell prostate cancers are very different from most types of prostate cancer as they grow at a more rapid rate. With that said, it could potentially spread to other parts of the body as well. </p>
            <h6>Advanced Prostate Cancer</h6>
            <p>If your prostate cancer level has reached this stage, it means that the cancer cells have already begun spreading to other parts of your body. Typically, individuals with advanced or metastatic prostate cancer will need more targeted and systemic therapies along with a combination of treatments.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">Different Stages of Prostate Cancer</h4>
            <p>After conducting the necessary tests and examinations, doctors will finally be able to determine one’s cancer stage. </p>
            <ul>
                <li><b>Stage I: </b> Cancer in Stage I is usually slow-growing and in its early stages. Patients may not be able to detect symptoms as the tumour cannot be felt. The cancer cells are well-differentiated, which means they look like healthy cells.</li>
                <li><b>Stage II: </b>At this point, the cancer is growing slowly and can only be found in the prostate. The tumour may be small, but there is still a risk of growing and spreading outside of the prostate gland. </li>
                <li><b>Stage III: </b>The tumour is growing rapidly and is likely to grow, spread, and develop into advanced prostate cancer. </li>
                <li><b>stage IV: </b>Once it reaches Stage IV, the cancer cells have spread beyond the prostate and into other parts of the body.</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">Prostate Cancer Treatment</h4>
            <p>Choosing the most suitable treatment option is based solely on the patient’s profile and the cancer stage. When considering the patient’s profile, urologists will consider their age, life expectancy, pre-existing medical conditions, and the presence of any potential illnesses. When analysing the cancer profile, they would review the extent of cancer on MRI and bone scan, Gleason score, PSA Level, and DRE finding. The goal of treatment – whether an individual is looking to improve quality of life or cure the cancer – is important as well in deciding between palliative care, curative treatment, or a combination of both.</p>
            <p>From there, doctors will be able to suggest the most appropriate and suitable treatment option for the patient. When deciding on the type of treatment, it is also crucial to note the various side effects during and after the treatment that can affect the patient.  Here are some of the treatment options that a doctor may recommend to a person with prostate cancer:</p>
            <h6>Active Surveillance</h6>
            <p>Also known as watchful waiting, active surveillance is usually recommended when the cancer is in its early stages and is non-aggressive. This means that treatment is essentially delayed, but the patient will still be closely monitored through various check-ups and examinations like additional biopsies, ultrasounds, and other imaging tests. </p>
            <h6>Surgery</h6>
            <p>For those in good health, surgery may be offered as a treatment for prostate cancer. One surgical procedure that is done specifically for prostate cancer is called radical prostatectomy, which involves the removal of the prostate from the body in its entirety. Apart from the prostate, the seminal vesicles and tissue surrounding the area is also removed. Removing the entire prostate gland allows pathologists to fully examine cancer and risk of recurrence, and if additional treatment is needed. </p>
            <p>Another surgical procedure known as the Da Vinci robot-assisted laparoscopic radical prostatectomy may also be recommended. This method is also a radical prostatectomy, but it uses advanced da Vinci technology to remove the prostate gland. Through the use of a high-definition camera that gives a magnified view inside your body, the technology will move the instruments with precision in accordance to the surgeon’s real-time hand movements. </p>
            <h6>Radiation Therapy</h6>
            <p>Methods that include radiation such as External Beam Radiation Therapy uses high-power x-rays to kill the cancer cells in the body. In this procedure, a machine is used to direct high doses of radiation to the prostate to destroy cancer cells and shrink tumours. In some occasions, patients may require pre-treatment implant of markers in the prostate to improve the accuracy of the treatment. </p>
            <p>Alternatively, Internal Radiation Therapy, or Brachytherapy, delivers high doses of radiation through small radioactive seeds instead of external beams. These seeds are implanted internally and directly into the prostate. Unlike external radiation therapy, this form of radiation requires anaesthesia and involves mapping of the prostate gland to determine the number of radioactive seeds needed. </p>
            <p>If you are a suitable candidate for radiation therapy, the doctor will recommend either external or internal radiation therapy according to your health and cancer profile. </p>
            <h6>Hormone Therapy</h6>
            <p>Also known as androgen suppression therapy, hormone therapy uses drugs to stop the body from producing testosterone, which can stimulate the growth of cancer cells. This form of therapy may be used: </p>
            <ul>
                <li>If the spread of cancer cannot be cured by surgery or radiation</li>
                <li>If cancer comes back or remains even after treatment with surgery or radiation therapy</li>
                <li>Before radiation in an attempt to shrink the cancerous tumour in order to increase the effectiveness of the treatment</li>
                <li>Alongside radiation therapy as the initial treatment, to complement the patient’s treatment if needed.</li>
            </ul>
            <h6>Chemotherapy</h6>
            <p>While chemotherapy is not commonly used for prostate cancer, it can improve symptoms of prostate cancer in patients if they are not responsive to hormone therapy. This technique involves the administration of drugs internally to stop the growth of cancer cells, either by killing the cells or preventing them from dividing. If you are still in the early stages of prostate cancer and the cancer profile is not aggressive, chemotherapy may not be the best option for you as this procedure is typically given to patients with advanced cancer.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center;">Prostate Cancer Prevention</h4>
            <p>Unfortunately, there is no definite way or solution to prevent prostate cancer or eliminate the risks entirely. While there are things you can’t change about yourself like your race, genetics, or age, there are various things that you can practise to lower the risk of prostate cancer. </p>
            <h6>Maintain a healthy weight</h6>
            <p>In a study conducted by the American Cancer Society, having obesity actually increases the risk of future prostate cancer in men, especially with aggressive tumours. Furthermore, it was also revealed in the same study that obesity is a significant risk factor for prostate cancer death as well. To prevent or combat obesity, one should exercise regularly and adopt healthy eating habits. </p>
            <h6>Improve your Diet</h6>
            <p>While the correlation between prostate cancer prevention and one’s diet have yet to be concluded, it is necessary to complete your exercise with healthy foods in order to maintain a healthy weight. </p>
            <h6>Eat more fruits and vegetables</h6>
            <p>Fruits and vegetables are rich in vitamins and nutrients, which can help to maintain a healthy gut and prevent digestive problems. Consuming fruits and vegetables regularly can also reduce the risk of cancer and other diseases. </p>
            <h6>Opt for a low-fat diet</h6>
            <p>While it is not necessary to eliminate fat from your diet completely, it is best to take it in moderation. Foods that are high in fats include meats, nuts, oils and dairy products. Reducing the amount of fat you eat will help you control your weight and improve your overall heart health. </p>
            <h6>Increase Your Vitamin D Intake </h6>   
            <p>While it has been proven that increasing your vitamin D intake will certainly reduce your risk of prostate cancer, there have been studies that found that men with very low levels of vitamin D (8% of men) had an approximately two-fold increased risk of being diagnosed with more aggressive prostate cancers. To effectively increase your vitamin D levels, consider spending time in the sunlight, consuming fatty fish and seafood, and taking supplements to ensure adequate intake.</p>
            <h6>Avoid Smoking</h6> 
            <p>While there haven’t been studies proving how smoking may cause prostate cancer, smoking does weaken natural cancer-fighting abilities in our body. On top of that, research conducted by the Brady Urological Institute in 2016 revealed that aggressive prostate cancer is more likely to develop among people who smoke regularly than those who don’t. If you already suffered from prostate cancer in the past and continued smoking afterwards, there is high risk that the cancer may return.</p>
            <p>As the saying goes, prevention is better than cure. If you think that you have a high risk of prostate cancer based on your symptoms, family history, and lifestyle habits, do consult a doctor about your risk. From there, you will be given various suggestions based on your needs such as looking into outpatient or inpatient treatment, or even home care programmes for those may have difficulty travelling from one place to another. </p>        
        </div>
    </div>
    <hr>

</div>
<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
