{% extends 'sidebar.html' %}{% load static %} {% block title %}
<title>Cancer Deaths attributed to smoking </title>
{% endblock %} {% block content %}
<div class="container p-2">
    <div class="row">
        <div class="col-md-12 border rounded shadow p-3 text-center" style="border-radius:2rem; background:linear-gradient(to top left,#0044ad,#f5efeb)">
            <h4>Share of cancer deaths attributed to smoking </h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-2 text-lg-center">
            <h4> Bottom Countries - Share of Cancer Deaths Attributed to Tobacoo in Particular Year</h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-10">
            <form action="" method="POST">
                {% csrf_token %}
                <select class="form-select p-1 mr-2" required name='year' aria-label="Default select example" style="height: 37px; width: 200px;">
                <option selected>Select the Year</option>
                <option value="1990">1990</option>
                <option value="1995">1995</option>
                <option value="2000">2000</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2010">2010</option>
                <option value="2016">2016</option>
              </select>
                <select class="form-select p-1 mr-2" required name='bottom' aria-label="Default select example" style="height: 37px; width: 335px;">
                <option selected>Select the number for top Countries</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>

                <button type="submit" name="save" class="btn btn-dark">Enter</button>
            </form>
        </div>

        <div class="col-md-2">
            <a class="btn btn-dark" href="{% url 'visCancerDeathsTobacco' %}" role="button">Go Back</a>

        </div>
    </div>


</div>
{% if graphic %}
<div class='row p-3 ml-5'>
    <img src="data:image/png;base64,{{graphic|safe}}">
</div>
{% endif %} {% endblock %}