{% extends 'sidebar.html' %}{% load static %} {% block title %}
<title>Cancer Deaths Visualization</title>
{% endblock %} {% block content %}
<div class="container p-2">
    <div class="row">
        <div class="col-md-12 border rounded shadow p-3 text-center" style="border-radius:2rem; background:linear-gradient(to top left,#0044ad,#f5efeb)">
            <h4>Total Cancer Deaths By Types</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-2 text-lg-center">
            <h4>Select the Country and Cancer types to Visualize the Cancer Deaths over Years</h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-10">
            <form action="" method="POST">
                {% csrf_token %}
                <select class="form-select p-1 mr-2" required name='country' aria-label="Default select example" style="height: 37px; width: 200px;">
                <option selected value="">Select the Country</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Algeria">Algeria</option>
                <option value="Argentina">Argentina</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Belgium">Belgium</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Brazil">Brazil</option>
                <option value="Canada">Canada</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="China">China</option>
                <option value="Colombia">Colombia</option>
                <option value="Denmark">Denmark</option>
                <option value="Egypt">Egypt</option>
                <option value="England">England</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">Iraq</option>
                <option value="Italy">Italy</option>
                <option value="Japan">Japan</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mexico">Mexico</option>
                <option value="Nepal">Nepal</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Russia">Russia</option>
                <option value="Scotland">Scotland</option>
                <option value="Singapore">Singapore</option>
                <option value="South Korea">South Korea</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Thailand">Thailand</option>
                <option value="Turkey">Turkey</option>
                <option value="United Arab Emirates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Zimbabwe">Zimbabwe</option>
            </select>

                <select class="form-select p-1 mr-2" required name='ctype' aria-label="Default select example" style="height: 37px; width: 250px;">
                <option selected value="">Select the Cancer Type</option>
                <option value="Liver cancer">Liver cancer</option>
                <option value="Kidney cancer">Kidney cancer</option>
                <option value="Breast cancer">Breast cancer</option>
                <option value="Cervical cancer">Cervical cancer</option>
                <option value="Prostate cancer">Prostate cancer</option>
                <option value="Malignant skin melanoma">Skin cancer</option>
                <option value="Tracheal, bronchus, and lung cancer">Lung cancer</option>
                <option value="Thyroid cancer">Thyroid cancer</option>
                <option value="Stomach cancer">Stomach cancer</option>
                <option value="Bladder cancer">Bladder cancer</option>
                <option value="Uterine cancer">Uterine cancer</option>
                <option value="Ovarian cancer">Ovarian cancer</option>
                <option value="Larynx cancer">Larynx cancer</option>
                <option value="Lip and oral cavity cancer">Oral cavity cancer</option>
            </select>

                <button type="submit" name="save" class="btn btn-dark">Enter</button>
            </form>
        </div>

        <div class="col-md-2">
            <a class="btn btn-dark" href="{% url 'visCancerDeathsTypes' %}" role="button">Go Back</a>

        </div>
    </div>


</div>
{% if graphic %}
<div class='row p-3 ml-5'>
    <img src="data:image/png;base64,{{graphic|safe}}">
</div>
{% endif %} {% endblock %}