{% extends 'base.html' %} {% load static %}{% block title %}
<title>Your Genes & Your Cancer Risk</title>
{% endblock %} {% block content %}

<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-2">
            <h2>Your Genes and Your Cancer Risk: What to Know</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>You probably know that genetics can affect your chance of getting cancer. But it’s not always as simple as the genes you inherit from your mom or dad. Many things shape your cancer risk, and you have the power to change a lot of them.</p>
            <p>To understand what you can change and what you can’t, you’ll want to know what your genes are. Put simply, they hold your DNA, which tells your cells what to do and how to behave. Your genes also set certain features, like your eye color and
                height. There are lots of them. Each human cell holds about 25,000-35,000 genes.</p>
            <p>When certain genes change, or “mutate,” they can make cells grow and divide too fast. Some gene changes (mutations) make it harder for your body to repair DNA damage, or spur cells to keep growing. That can make you more likely to get cancer.
                There are a lot of researchers are still learning about genes and cancer. But they do know that there isn’t just one “cancer gene.” Many gene glitches are usually involved.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Did You Get It From Your Parents?</h6>
            <p>You could have been born with some cancer-related gene changes that you inherit from your parents. Scientists have identified more than 50 inherited gene mutations that make cancer more likely.</p>
            <p>For instance, you may have heard of the BRCA1 and BRCA2 genetic mutations. If you inherit either of them, you’re much more likely than someone without those mutations to get breast cancer. (One of those mutations also makes ovarian cancer
                more likely.) About 12% of all women get breast cancer at some point in their lives, compared with roughly 50% of those with a BRCA mutation. But often, it’s more random than that. Experts think that inherited genetic mutations only play
                a role in 5% to 20% of all cancers. </p>
            <p>If many risky mutations aren’t inherited, where do they come from? Most happen as you’re going about your life. These are called Aquired genetic mutations. Genes can change if exposed to certain things -- like tobacco smoke, too much of certain
                chemicals, or too much of the sun’s rays -- that damage your DNA. Often, mutations happen for reasons experts don’t understand. <br/>There are 2 basic types of genetic mutations:</p>
            <p><b>Acquired mutations.</b> These are the most common cause of cancer. They occur from damage to genes in a particular cell during a person’s life. For example, this could be a breast cell or a colon cell, which then goes on to divide many
                times and form a tumor. A tumor is an abnormal mass. Cancer that occurs because of acquired mutations is called sporadic cancer. Acquired mutations are not found in every cell in the body and they are not passed from parent to child.<br/>Factors
                that cause these mutations include:</p>
            <ul>
                <li>Tobacco</li>
                <li>Ultraviolet (UV) radiations</li>
                <li>Viruses</li>
                <li>Age</li>
            </ul>
            <p><b>Germline mutations</b> These are less common. A germline mutation occurs in a sperm cell or egg cell. It passes directly from a parent to a child at the time of conception. As the embryo grows into a baby, the mutation from the initial
                sperm or egg cell is copied into every cell within the body. Because the mutation affects reproductive cells, it can pass from generation to generation. Cancer caused by germline mutations is called inherited cancer. It accounts for about
                5% to 20% of all cancers.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Mutations and cancer</h6>
            <p>Mutations happen often. A mutation may be beneficial, harmful, or neutral. This depends where in the gene the change occurs. Typically, the body corrects most mutations.</p>
            <p>A single mutation will likely not cause cancer. Usually, cancer occurs from multiple mutations over a lifetime. That is why cancer occurs more often in older people. They have had more opportunities for mutations to build up.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Genetic Tests for Cancer</h6>
            <p>Scientists don’t know all the genes and mutations that play a role in cancer. But there are some tests available for certain genes linked to it. Your doctor may recommend genetic testing to help figure out your risk if:</p>
            <ol>
                <li>You have a strong family history of a cancer that’s linked to certain genetic mutations.</li>
                <li>You know one of your family members has an inherited genetic mutation.</li>
                <li>You’ve been diagnosed with a type of the disease linked to a known inherited genetic mutation.</li>
                <li>Your health care team feels they can tell whether you have a certain genetic change or not.</li>
                <li>It would help you and your health care team make decisions about your medical care.</li>
            </ol>
            <p>If you decide to get genetic testing, your doctor will take a little bit of your blood, hair, skin, or other tissue, like the cells from the inside of your cheek. Your doctor sends those samples to a lab, where a technician will look for certain
                changes that show you have a genetic mutation.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h6>Genes Aren’t Everything</h6>
            <p>Having a genetic mutation linked to cancer doesn’t mean you’ll definitely get that type of cancer. For example, experts estimate that 69% of women with a BRCA2 mutation will get breast cancer by age 80 -- and the other 31% won’t. (Unfortunately,
                there’s no way to tell whether a woman with a BRCA2 mutation will or won’t get breast cancer, and since it’s more likely than not, the smaller chance of not getting breast cancer wouldn’t change your treatment options.) What’s more, you
                inherit genes from both your parents. In some cases, your odds of getting cancer only rise if you inherit a copy of a gene mutation from both of your parents.</p>
            <p>Although many cancers happen randomly, there’s a lot you can do to lower your risk with a healthy lifestyle. There’s even some evidence that nutrition and lifestyle choices may impact the way certain genes behave. </p>
            <p>The bottom line? Genes can tell you some information about your chance of getting cancer. But it’s also important to focus on smart choices every day that boost your overall health.</p>
        </div>
    </div>
    <hr>

</div>
<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}