{% extends 'doctorF/docsidebar.html' %} {% load static %} {% block title %}
<title>Lung Prediction</title>
{% endblock %} {% block content %}
<!--Page Content -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 mt-2 border rounded shadow p-5" style="border-radius:2rem; background:linear-gradient(to top left, #ff8c3E, #f5efeb)">

            <h3 class="text-center mb-5" style="color: #262626"><b>Lung Cancer Prediction</b></h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="formFile" class="form-label"><b>Load the Image</b></label>
                    <input class="form-control p-1 g-0 m-1" required type="file" id="formFile" name="predfile" >
                </div>
                <center><button type="submit" name='save1' class="btn btn-dark mt-3">Make Prediction</button></center>
            </form>
            <div class="row mt-4">
                <p><b>Result :</b></p>
                <div class="col">
                    <!-- <p>{{ans}}</p> -->
                    {% if ans %} {% if ans == 1 %}
                    <div>
                        <p><b>Adenocarcinoma - Lung Cancer </b></p>
                    </div>
                    {% elif ans == 2 %}
                    <div>
                        <p><b>Large.cell.carcinoma - Lung Cancer </b></p>
                    </div>
                    {% elif ans == 3 %}
                    <div>
                        <p><b>Normal - No Lung Cancer</b></p>
                    </div>
                    {% else %}
                    <div>
                        <p><b>Squamous.cell.carcinoma - Lung Cancer</b></p>
                    </div>
                    {% endif %} {% endif %}

                    {% if invalid %}
                    <div><p><b>{{invalid}}</b></p></div>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>



{% endblock %}